.glass-nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.39); /* màu nền mờ */
  backdrop-filter: blur(19px); /* làm mờ nền phía sau */
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(53, 53, 53, 0.24) 0px 3px 8px;
  z-index: 1000;
}
.auth-section {

  background: rgba(255, 255, 255, 0.664); /* màu nền mờ */
  backdrop-filter: blur(19px); /* làm mờ nền phía sau */
  background-image:linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(53, 53, 53, 0.24) 0px 3px 8px;
  z-index: 1000;
}

.typewriter {
  overflow: hidden; /* Ẩn phần chữ chưa gõ */
  white-space: nowrap;
  color: #000;
  width: 0;
  text-align: center;
  animation: typing 8s linear infinite;
}

/* Hiệu ứng gõ chữ */
@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  62.4% {width: 100%;}
  100% {width: 0;}
}
.introduce {
    z-index: 111;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
aside {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chat-area {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}